= form_for [:admin, @proposal], :html => { :class => 'form' } do |f|
  .control-group
    = f.error_messages
  .control-group
    = f.label :title, 'Titulo:',:class => 'control-label'
    = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :content,'Contenido:',  :class => 'control-label'
    .controls
      = f.text_area :content, class: :tinymce
  .control-group
    = f.label :topics_tokens, 'Temas'
    = f.text_field :topic_tokens, data: {load: @proposal.topics}
  .control-group
    = f.label :visibility, "Visibilidad:", class: 'control-label'
    .controls
    = f.select :visibility, Paper.visibility

  #facebook-comment.control-group.hide
    = f.label :facebook_comment, "Comentarios de facebook:", class: 'control-label'
    = f.check_box :facebook_comment
  
  #group-tokens.control-group.hide
    = f.label :group_tokens, 'Grupos'
    = f.text_field :group_tokens, data: {load: @proposal.groups.map(&:attributes).to_json}
    
  .form-actions
    = f.submit @proposal.new_record? ? 'Crear' : 'Actualizar', :class => 'btn btn-primary'
    = link_to 'Cancelar', admin_proposals_path, :class => 'btn'