%li{id: annotation.id,  class: 'comment'}
  %div
    %img.avatar{:alt => "Image", :src => "/assets/avatar.png"}
      .comment-author
        %a{:href => "#"}= annotation.author_email
      .comment-meta
        %a.comment-date{:href => "#", :title => "Permalink to this comment"}= annotation.created_at
      .comment-body
        = annotation.comment.html_safe
      .comment-actions
        - if @discussion.opened?
          = link_to 'Responder', new_debate_comentario_path(@discussion, parent_id: annotation.id), remote: true, id: "add_annotation-#{annotation.id}"
