= selected_menu(:menu_discussions)
= section_title('Centro De Debates')
#documents-container.row
  %section#content.col-lg-9.col-md-9
    - if Setting.centro_de_debates_subtitle.present?
      %h1= Setting.centro_de_debates_subtitle

    = render partial: 'discussion', collection: @discussions

  = render 'shared/right_aside'