= selected_menu(:menu_discussions)
= section_title('Centro De Debates')
%section#content.span-9
  .blog.single-entry

    %nav.sticky-nav
      %a.twitter{:href => "#", :title => "Share this on Twitter"} Twitter
      %a.facebook{:href => "#", :title => "Share this on Facebook"} Facebook
      %a.googleplus{:href => "#", :title => "Share this on Google Plus"} Google Plus

    %article.entry.has-divider
      %header
        .post-format
          %a{:href => "#"}
        %h2.entry-title
          = @discussion.title
        .entry-meta
          %span.tags
            Temas:
            %a{:href => "#"} Standard
          %span.comments
            %a{:href => "#comments"} #{@discussion.annotations_count} Comentarios


      .entry-date
        %span= @discussion.published_day
        = @discussion.published_month.upcase
      .entry-content
        = @discussion.content.html_safe
    
    %section#actors.has-divider
      %span.actors-rate
      %h3.actors-title Temas: 
      %ul.actors-rate-list
        - @discussion.topics.each do |theme|
          %li
            %span.actor-name
              = "#{theme.name} "
    
    %section#votes.has-divider
      %span.votes-rate
      %h3.votes-title Vote Por este Debate
      = link_to debate_votes_path(@discussion, tendency: 1), method: :post, class: 'btn btn-primary' do
        %i.icon-thumbs-up
        = @discussion.positive_votes
      |
      = link_to debate_votes_path(@discussion, tendency: -1), method: :post, class: 'btn btn-danger' do
        %i.icon-thumbs-down
        = @discussion.negative_votes

    %section#comments.has-divider
      %a.leave-a-comment{:href => "#comment-form", :title => "Deja un Comentario"}
      %h3.comments-title #{@discussion.annotations_count} Comentarios
      .leave-a-comment-text
        %a.meta{:href => "#comment-form"} Deja un comentario
      %ol.comments-list
        = nested_annotations @discussion.annotations.includes(:author).arrange(order: :created_at) 


    %section#comment-form
      %span.leave-a-comment
      %h3.form-title Deja un Comentario
      %span.meta.form-tagline ¿Que opinas? Usa el formulario para hacernoslo saber.
      - if current_user
        = render partial: 'annotations/form', locals: {annotable: @discussion, annotable_url: debate_comentarios_path(@discussion)}
      - else
        Necesita Iniciar Sesion para comentar


%aside#sidebar.span-3
  = render partial: 'news/right_aside'