= selected_menu(:menu_discussions)
= section_title('Centro De Debates')
%section#content
  #doc-container.row
    %article.span8
      %header
        %h2.entry-title
          = @discussion.title
        .entry-date
          %span= @discussion.published_date
        .entry-content
          = @discussion.content.html_safe
        %ul.entry-meta
          %li.tags
            Temas:
            - @discussion.topics.each do |topic|
              = link_to topic.name, debates_path(topic_id: topic.id), class: [:label]
          %li.comments
            %a{:href => "#comments"} #{@discussion.annotations_count} Comentarios

    #sidebar-doc.span3  
      %h3 Vote Por este Debate
      = link_to debate_votes_path(@discussion, tendency: 1), method: :post, class: 'btn btn-success' do
        %i.icon-thumbs-up
        = @discussion.positive_votes
      |
      = link_to debate_votes_path(@discussion, tendency: -1), method: :post, class: 'btn btn-danger' do
        %i.icon-thumbs-down
        = @discussion.negative_votes

  #comments.row
    %ol.comments-list
      = nested_annotations @discussion.annotations.includes(:author).arrange(order: :created_at)

  #comment-form
    .row
      %span.leave-a-comment
      %h3.form-title Deja un Comentario
      %span.meta.form-tagline ¿Que opinas? Usa el formulario para hacernoslo saber.
      - if current_user
        = render partial: 'annotations/form', locals: {annotable: @discussion, annotable_url: debate_comentarios_path(@discussion)}
      - else
        Necesita Iniciar Sesion para comentar