- if @user == @current_user
= "Usted a comentado sobre #{item_by_class(p[:class])} con el titulo #{p[:title]}"
- else
	= "El Usuario #{a.owner.email} a comentado sobre #{item_by_class(p[:class])} con el titulo #{p[:title]}"

	