.row-fluid
  .box
    .box-content
      .page-header
        %h1 Centro de Medios | Actores
        = link_to :new_admin_news_actor, :class => 'btn-add-resource btn btn-primary' do
          %i.icon-white.icon-plus
          Nuevo Actor

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th ID
            %th Avatar
            %th Nombre
            %th Acciones
        %tbody
          - @news_actors.each do |a|
            %tr
              %td.center= a.id
              %td= image_tag a.avatar_url(:small) if a.avatar?
              %td= link_to a.name, [:admin, a]
              %td
                = link_to admin_news_actor_path(a), :class => 'btn btn-mini' do
                  %i.icon-eye-open
                  Ver
                = link_to edit_admin_news_actor_path(a), :class => 'btn btn-mini btn-primary' do
                  %i.icon-edit.icon-white
                  Editar
                = link_to admin_news_actor_path(a), :method => :delete, :confirm => 'Esta seguro?', :class => 'btn btn-danger btn-mini' do
                  %li.icon-white.icon-remove
                  Eliminar

