= selected_menu(:menu_entry)
= section_title('Centro Educacional')
#documents-container.row
  %section#content.col-lg-9.col-md-9
    - if Setting.centro_educacional_subtitle.present?
      %h1= Setting.centro_educacional_subtitle

    = render partial: 'entry', collection: @entries

  = render 'shared/right_aside'