= selected_menu(:menu_objetivos)
#documents-container.row
  %section#content.span12
    - if Setting.objetivos_subtitle.present?
      %h1= Setting.objetivos_subtitle
    
    .accordion#buenas-practicas
      - @objetivos.each_with_index do  |objective_root, index|
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => "collapse", href: "#collapse#{index}", "data-parent" => "#buenas-practicas"}
              = objective_root.title
          .accordion-body.collapse{id: "collapse#{index}"}
            .accordion-inner
              %ul
                - objective_root.children.each do |objective|
                  %li= objective.title