%h2 Discusiones

%table.table.table-striped
	%thead
		%tr
			%th ID
			%th Titulo
			%th Status
			%th Acciones
	%tbody
		- @discussions.each do |d|
			%tr
				%td= d.id
				%td= link_to d.title, [:admin, d]
				%td= d.status
				%td
					= link_to 'Editar',  edit_admin_discussion_path(d), :class => 'btn btn-mini'
					= link_to 'Eliminar', admin_discussion_path(d), :method => :delete, :confirm => 'Esta seguro?', :class => 'btn btn-mini btn-danger'
= link_to 'Agregar', new_admin_discussion_path, :class => 'btn btn-primary'