#documents-container.row
  %section#content.span12
    %h1 Objetivos del Partido

    #timeline
      %ul#dates
        - @strategic_objectives.each do |objective|
          %li
            %a{href: '#'}= objective.date_objective
      %ul#issues
        - @strategic_objectives.each do |objective|
          %li{id: objective.date_objective}
            %h3= objective.title
            %p= objective.description
            %h3 Actualizaciones
            
      %a{href: '#', id: 'next'} +
      %a{href: '#', id: 'prev'} -

    %h3
      Objetivos:
      = @strategic_objectives.size
      
      %span.not-completed
        Objetivos no cumplidos
        = StrategicObjective.where("accomplished IS NULL AND ancestry IS NOT NULL").count
      
      %span.completed
        Objetivos cumplidos
        = StrategicObjective.where("accomplished = true AND ancestry IS NOT NULL").count