= selected_menu(:menu_buenas_practicas)
= section_title('Objetivos')
#documents-container.row
  %section#content.col-lg-12.col-md-12
    %h1 Buenas Practicas  
    
    .accordion#buenas-practicas
      - StrategicObjective.roots.order('created_at ASC').each_with_index do  |objective_root, index|
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => "collapse", href: "#collapse#{index}", "data-parent" => "#buenas-practicas"}
              = objective_root.title
          .accordion-body.collapse{id: "collapse#{index}"}
            .accordion-inner
              %ul
                - objective_root.children.each do |objective|
                  %li 
                    = objective.title
                    %ul
                      - objective.children.each do |objective_s| 
                        %li
                          = objective_s.title
                          - unless objective_s.papers.empty?
                            %ul
                              Noticas Relacionadas:
                              - objective_s.papers.each do |news|
                                %li= link_to news.title, noticia_path(news), class: [:label]
                                  
      

              / #timeline
              /   %ul#dates
              /     - objective_root.children.each do |objective|
              /       %li
              /         %a{href: '#'}= objective.date_objective
              /       
              /   %ul#issues
              /     - objective_root.children.each do |objective|
              /       %li{id: objective.date_objective}
              /         %h3
              /           %span.label= objective.root.title
              /           = objective.title
              /         %p= objective.description
              /         %h3 Actualizaciones
              / 
              /   %a{href: '#', id: 'next'} +
              /   %a{href: '#', id: 'prev'} -
