%article.entry.has-divider
  %header
    %h2.entry-title
      = link_to news.title, noticia_path(news)
    .entry-meta
      %span.tags
        Temas:
        - news.topics.each do |topic|
          = link_to topic.name, "#"
      %span.comments
        %a{:href => "#"} #{news.annotations.count} Comentarios


  .entry-date
    %span= news.published_day
    = news.published_month.upcase
  .entry-content
    = news.first_paragraph.html_safe
    = link_to 'Leer mas...', noticia_path(news), class: 'more-link'
