%article
  %h2= news.title
  .entry-date
    %span= news.published_date
  .entry-content
    = news.first_paragraph.html_safe
    = link_to 'Leer mas...', noticia_path(news), class: 'more-link'
  
  %ul.entry-meta
    %li.tags
      Temas:
      - news.topics.each do |topic|
        = link_to topic.name, noticias_path(topic_id: topic.id), class: :label
    %li.comments
      %a{:href => "#"} #{news.annotations.count} Comentarios