= selected_menu(:menu_news)
= section_title('Centro De Noticias')

#documents-container
  %section.content.col-lg-9.col-md-9
    - if Setting.centro_de_noticas_subtitle.present?
      %h1= Setting.centro_de_noticas_subtitle

    = render @news

  = render 'shared/right_aside'