= selected_menu(:menu_news)
= section_title('Centro De Noticias')
%section#content.span9
  .blog.single-entry

    / %nav.sticky-nav
    /   %a.twitter{:href => "#", :title => "Share this on Twitter"} Twitter
    /   %a.facebook{:href => "#", :title => "Share this on Facebook"} Facebook
    /   %a.googleplus{:href => "#", :title => "Share this on Google Plus"} Google Plus

    %article.entry.has-divider
      %header
        %h2.entry-title
          = @news.title
        .entry-meta
          - unless @news.topics.empty?
            %span.tags
              Temas:
              - @news.topics.each do |topic|
                = link_to topic.name, "#"
          %span.comments
            %a{:href => "#comments"} #{@news.annotations_count} Comentarios


      .entry-date
        %span= @news.published_day
        = @news.published_month.upcase
      .entry-content
        = @news.content.html_safe
      .entry-rate
        - if current_user
          %h4 Califica esta noticia:
          %div{:id => "#{@rate}_#{@news.id}", :class => :rate_news}

    %section#actors.has-divider
      %span.actors-rate
      %h3.actors-title Califica su actuacion:
      %ul.actors-rate-list
        - @news.news_actors.each do |actor|
          %li
            %span.actor-image
              = image_tag '/assets/no-image-user.png'
            %span.actor-name
              = "#{actor.name} "
            - if current_user
              %div{:id => "#{actor.ratings.average(:rate)}_#{actor.id}", :class => :rate_actor}

    %section#comments.has-divider
      %a.leave-a-comment{:href => "#comment-form", :title => "Leave a Comment"}
      %h3.comments-title #{@news.annotations_count} Comentarios
      .leave-a-comment-text
        %a.meta{:href => "#comment-form"} Deja un comentario
      %ol.comments-list
        = nested_annotations @news.annotations.includes(:author).arrange(order: :created_at) 

    %section#comment-form
      %span.leave-a-comment
      %h3.form-title Deja un Comentario
      %span.meta.form-tagline ¿Que opinas? Usa el formulario para hacernoslo saber.
      - if current_user  
        = render partial: 'annotations/form', locals: {annotable: @news, annotable_url: noticia_comentarios_path(@news)}
      - else
        Necesitas iniciar sesion para comentar


%aside#sidebar.span3
  = render partial: 'right_aside'