= selected_menu(:menu_news)
= section_title('Centro De Noticias')
%section#content
  #doc-container.row
    %article.span8
      %h2.entry-title
        = @news.title
      .entry-date
        %span= @news.published_day
        = @news.published_month.upcase
      .entry-content
        = @news.content.html_safe
      %ul.entry-meta
        %li.tags
          Temas:
          - @news.topics.each do |topic|
            = link_to topic.name, "#", class: [:label]
        %li.comments
          %a{:href => "#comments"} #{@news.annotations_count} Comentarios

    #sidebar-doc.span3  
      - if current_user
        %h3 Califica esta noticia:
        %div{:id => "#{@rate}_#{@news.id}", :class => :rate_news}
      %br/
      %h3.actors-title Califica su actuacion:
      %ul.actors-rate-list
        - @news.news_actors.each do |actor|
          %li
            .actor-image
              = image_tag actor.avatar_photo
            .actor-name
              = actor.name
              - if current_user
                %div{:id => "#{actor.ratings.average(:rate)}_#{actor.id}", :class => :rate_actor}

  #comments.row
    %ol.comments-list
      = nested_annotations @news.annotations.includes(:author).arrange(order: :created_at) 

  #comment-form
    .row
      %span.leave-a-comment
      %h3.form-title Deja un Comentario
      %span.meta.form-tagline ¿Que opinas? Usa el formulario para hacernoslo saber.
      - if current_user  
        = render partial: 'annotations/form', locals: {annotable: @news, annotable_url: noticia_comentarios_path(@news)}
      - else
        Necesitas iniciar sesion para comentar
