%h1= @news.title
%div
	= raw @news.content

%strong 
	Actores
	%em
		- @news.news_actors.each do |a|
			= "#{a.name} "

= render 'annotations/form' if current_subject
%h4 Commentarios
= render partial: 'annotations/annotation', collection: @annotations
