.row-fluid.quick-actions
  .span2
    %a.quick-action{:href => "#{admin_news_index_path}"}
      %span.icon.file
      Centro de Medios
  .span2
    %a.quick-action{:href => "#{admin_discussions_path}"}
      %span.icon.conversation
      Centro de Debates
  .span2
    %a.quick-action{:href => "#{admin_entries_path}"}
      %span.icon.book
      Centro Educacional
  .span2
    %a.quick-action{:href => "#{admin_proposals_path}"}
      %span.icon.compass
      Propuesta Ciudadana
  .span2
    %a.quick-action{:href => "#{admin_groups_path}"}
      %span.icon.group
      Grupos
  .span2
    %a.quick-action{:href => "#"}
      %span.icon.users
      Users
