.row-fluid
  .box
    .box-content
      .page-header
        %h1 Editar Configuraciones
      = form_for [:admin, @configuration], url: admin_configuration_path, :html => { :class => 'form form-horizontal', multipart: true } do |f|
        %ul.nav.nav-tabs
          %li
            %a{href: '#general', 'data-toggle' => "tab"} General
          %li
            %a{href: '#estilos', 'data-toggle' => "tab"} Diseño
          %li
            %a{href: '#home', 'data-toggle' => "tab"} Home
            
        .tab-content
          #general.tab-pane.active
                      
            .control-group
              = f.label :site_name, 'Nombre del sitio:',:class => 'control-label'
              .controls
                = f.text_field :site_name, :class => 'text_field'
                
            .control-group
              = f.label :comments_limit, 'Limite en los comentarios:',:class => 'control-label'
              .controls
                = f.text_field :comments_limit, :class => 'text_field'
              %span.help-block 
                Para no limitar el tamaño los comentarios poner 0.

            .control-group
              = f.label :public_registration, 'Registro publico:',:class => 'control-label'
              .controls
                = f.check_box :public_registration
                


          #estilos.tab-pane
            .control-group
              = f.label :color1, 'Color 1:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{@configuration.color1}", "data-color-format" => "hex"}
                  = f.text_field :color1, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{@configuration.color1}"}

            .control-group
              = f.label :color2, 'Color 2:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{@configuration.color2}", "data-color-format" => "hex"}
                  = f.text_field :color2, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{@configuration.color2}"}


            .control-group
              = f.label :color3, 'Color 3:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{@configuration.color3}", "data-color-format" => "hex"}
                  = f.text_field :color3, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{@configuration.color3}"}


            .control-group
              = f.label :color4, 'Color 4:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{@configuration.color4}", "data-color-format" => "hex"}
                  = f.text_field :color4, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{@configuration.color4}"}

            .control-group
              = f.label :color5, 'Color 5:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{@configuration.color5}", "data-color-format" => "hex"}
                  = f.text_field :color5, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{@configuration.color5}"}

            .control-group
              = f.label :background_image, 'Imagen principal:',:class => 'control-label'
              .controls#main-image-controls
                %button.btn.btn-success#button-main-image
                  %i.icon-upload.icon-white
                  Subir Imagen
                = hidden_field_tag 'configurable[image_x]'
                = hidden_field_tag 'configurable[image_y]'

          #home.tab-pane
            .control-group
              = f.label :home_main_content, 'Contenido del home:', :class => 'control-label'
              .controls
                = f.text_area :home_main_content, class: 'tinymce home-main-content'
        
        
        

        .form-actions
          = f.submit 'Actualizar', :class => 'btn btn-primary'
          = link_to 'Cancelar', admin_configuration_path, :class => 'btn'

#main-image-upload.modal.hide.fade
  .modal-header
    %button{:type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"}
      &times;
    %h3 Subir Imagen Principal

  .modal-body
    #images-container
  .modal-footer
    %button.btn#main-image-close-button Cerrar
    %button.btn.btn-primary#main-image-upload-button Subir Imagen
      
%script
  var jcrop_api;
  $('div[id*="config-color"]').colorpicker();
  
  $('#button-main-image').click(function(event){
  event.preventDefault();
  fileInput =  $('<input/>').attr('type','file').attr('name','configurable[background_image]').addClass('hide').attr('id','main-image-input');
  $('form').append(fileInput);
  
  fileInput.change(function() {
  input = this;
  if (input.files && input.files[0]) {
  var reader = new FileReader();
  reader.onload = function (e) {
  imageTag = $('<img/>').attr('src', e.target.result);
  $('#images-container').html(imageTag);
  jcrop_api = imageTag.Jcrop({
  setSelect: [ 0, 0, 675, 140 ],
  addClass: 'jcrop-dark',
  allowSelect: false,
  allowResize: false,
  onChange: function(c) {
  $('#configurable_image_x').val(c.x);
  $('#configurable_image_y').val(c.y);
  }
  });
  };
  reader.readAsDataURL(input.files[0]);
  }
  $('#main-image-upload').modal();
  });
  
  fileInput.click();
  });
  
  $('#main-image-close-button').click(function(){
  $('#main-image-input').remove();
  $('#main-image-controls span.help-block').remove();
  $('#main-image-upload').modal('hide');
  });
  
  
    
  $('#main-image-upload-button').click(function() {
  help_block = $('<span/>').addClass('help-block').html('Haga click en Actualizar para subir la imagen');
  $('#main-image-controls').append(help_block);
  $('#main-image-upload').modal('hide');
  });
