.row-fluid
  .box
    .box-content
      .page-header
        %h1 Editar Configuraciones
      = form_tag admin_configuration_path, :class => 'form form-horizontal', multipart: true, method: :put do
        %ul.nav.nav-tabs
          %li.active
            %a{href: '#general', 'data-toggle' => "tab"} General
          %li
            %a{href: '#estilos', 'data-toggle' => "tab"} Diseño
          %li
            %a{href: '#tipografia', 'data-toggle' => "tab"} Tipografia
          %li
            %a{href: '#home', 'data-toggle' => "tab"} Home
          %li
            %a{href: '#tabs', 'data-toggle' => "tab"} Secciones
            
        .tab-content
          #general.tab-pane.active
                      
            .control-group
              = label_tag :site_name, 'Nombre del sitio:',:class => 'control-label'
              .controls
                = text_field_tag 'setting[site_name]', Setting.site_name, :class => 'text_field'
                
            .control-group
              = label_tag :comments_limit, 'Limite en los comentarios:',:class => 'control-label'
              .controls
                = text_field_tag 'setting[comments_limit]', Setting.comments_limit, :class => 'text_field'
                %span.help-block 
                  Para no limitar el tamaño los comentarios poner 0.

            .control-group
              = label_tag :public_registration, 'Registro publico:',:class => 'control-label'
              .controls
                #public_registration_button.switch.switch-small{'data-on' => "success", 'data-off' => "danger", 'data-on-label' => "Si", 'data-off-label' => "No"}
                  = check_box_tag 'setting[public_registration]', true, Setting.public_registration
                  
                


          #estilos.tab-pane
            .control-group
              = label_tag :color1, 'Color 1:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{Setting.color1}", "data-color-format" => "hex"}
                  = text_field_tag 'setting[color1]', Setting.color1, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{Setting.color1}"}

            .control-group
              = label_tag :color2, 'Color 2:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{Setting.color2}", "data-color-format" => "hex"}
                  = text_field_tag 'setting[color2]', Setting.color2, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{Setting.color2}"}


            .control-group
              = label_tag :color3, 'Color 3:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{Setting.color3}", "data-color-format" => "hex"}
                  = text_field_tag 'setting[color3]', Setting.color3, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{Setting.color3}"}


            .control-group
              = label_tag :color4, 'Color 4:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{Setting.color4}", "data-color-format" => "hex"}
                  = text_field_tag 'setting[color4]', Setting.color4, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{Setting.color4}"}

            .control-group
              = label_tag :color5, 'Color 5:',:class => 'control-label'
              .controls
                #config-color1.input-append.color{"data-color" => "#{Setting.color5}", "data-color-format" => "hex"}
                  = text_field_tag 'setting[color5]', Setting.color5, :class => 'text_field input-append color'
                  %span.add-on
                    %i{:style => "background-color: #{Setting.color5}"}

            .control-group
              = label_tag :background_image, 'Imagen principal:',:class => 'control-label'
              .controls#main-image-controls
                %button.btn.btn-success#button-main-image
                  %i.icon-upload.icon-white
                  Subir Imagen
                = hidden_field_tag 'background_image[image_x]'
                = hidden_field_tag 'background_image[image_y]'

          #tipografia.tab-pane
            .tabbable.tabs-left
              %ul.nav.nav-tabs
                %li.active
                  %a{href: '#tipografia_texto', 'data-toggle' => "tab"} Texto
                %li
                  %a{href: '#tipografia_enlaces', 'data-toggle' => "tab"} Enlaces
                
              .tab-content
                #tipografia_texto.tab-pane.active
                  %fieldset
                    %legend Texto
                    .control-group
                      = label_tag :text_font_family, 'Tipografia:',:class => 'control-label'
                      .controls
                        = select_tag 'setting[text_font_family]',  grouped_options_for_select(Setting::WEB_FONTS, Setting.text_font_family, 'Seleccione una tipografia'), :class => 'text_field'

                    .control-group
                      = label_tag :text_font_size, 'Tamaño de la fuente:',:class => 'control-label'
                      .controls
                        = number_field_tag 'setting[text_font_size]', Setting.text_font_size, :class => 'text_field'
                        
                    .control-group
                      = label_tag :text_color, 'Color del texto:',:class => 'control-label'
                      .controls
                        #config-color1.input-append.color{"data-color" => "#{Setting.text_color}", "data-color-format" => "hex"}
                          = text_field_tag 'setting[text_color]', Setting.text_color, :class => 'text_field input-append color'
                          %span.add-on
                            %i{:style => "background-color: #{Setting.text_color}"}
                
                #tipografia_enlaces.tab-pane
                  %fieldset
                    %legend Enlaces
                        
                    .control-group
                      = label_tag :link_color, 'Color del enlace:',:class => 'control-label'
                      .controls
                        #config-color1.input-append.color{"data-color" => "#{Setting.link_color}", "data-color-format" => "hex"}
                          = text_field_tag 'setting[link_color]', Setting.link_color, :class => 'text_field input-append color'
                          %span.add-on
                            %i{:style => "background-color: #{Setting.link_color}"}

                    .control-group
                      = label_tag :link_color_hover, 'Color del enlace activo:',:class => 'control-label'
                      .controls
                        #config-color1.input-append.color{"data-color" => "#{Setting.link_color_hover}", "data-color-format" => "hex"}
                          = text_field_tag 'setting[link_color_hover]', Setting.link_color_hover, :class => 'text_field input-append color'
                          %span.add-on
                            %i{:style => "background-color: #{Setting.link_color_hover}"}


          #home.tab-pane
            = text_area_tag 'setting[home_main_content]', Setting.home_main_content, class: 'tinymce home-main-content'
        
          #tabs.tab-pane
            .tabbable.tabs-left
              %ul.nav.nav-tabs
                %li.active
                  %a{href: '#centro_de_noticias', 'data-toggle' => "tab"} Centro de noticias
                %li
                  %a{href: '#centro_educacional', 'data-toggle' => "tab"} Centro educacional
                %li
                  %a{href: '#centro_de_debates', 'data-toggle' => "tab"} Centro de debates
                %li
                  %a{href: '#propuesta_ciudadana', 'data-toggle' => "tab"} Propuesta ciudadana
                %li
                  %a{href: '#objetivos', 'data-toggle' => "tab"} Objetivos
                
              .tab-content
                #centro_de_noticias.tab-pane.active
                  %fieldset
                    %legend Centro de noticias
                    .control-group
                      = label_tag :centro_de_noticas_title, 'Titulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[centro_de_noticas_title]', Setting.centro_de_noticas_title, :class => 'text_field input-append', placeholder: 'Centro de noticias'
                        %span.help-block
                          Titulo de la secci&oacute;n, se usa para el menu.
          
                    .control-group
                      = label_tag :centro_de_noticas_subtitle, 'Subtitulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[centro_de_noticas_subtitle]', Setting.centro_de_noticas_subtitle, :class => 'text_field input-append', placeholder: 'Lee las noticias sobre...'
                        %span.help-block
                          Si no desea mostrar el subtitulo de la secci&oacute;n dejar en blanco.
      
                    .control-group
                      = label_tag :centro_de_noticas_visible, 'Activo:', :class => 'control-label'
                      .controls
                        #centro_de_noticas_visible_button.switch.switch-small{'data-on' => "success", 'data-off' => "danger", 'data-on-label' => "Si", 'data-off-label' => "No"}
                          = check_box_tag 'setting[centro_de_noticas_visible]', true, Setting.centro_de_noticas_visible
                        %span.help-block
                          ¿Desea mostrar la secci&oacute;n?

                #centro_educacional.tab-pane
                  %fieldset
                    %legend Centro educacional
                    .control-group
                      = label_tag :centro_educacional_title, 'Titulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[centro_educacional_title]', Setting.centro_educacional_title, :class => 'text_field input-append', placeholder: 'Centro educacional'
                        %span.help-block
                          Titulo de la secci&oacute;n, se usa para el menu.
          
                    .control-group
                      = label_tag :centro_educacional_subtitle, 'Subtitulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[centro_educacional_subtitle]', Setting.centro_educacional_subtitle, :class => 'text_field input-append', placeholder: 'Lee las propuestas educativas'
                        %span.help-block
                          Si no desea mostrar el subtitulo de la secci&oacute;n dejar en blanco.
      
                    .control-group
                      = label_tag :centro_educacional_visible, 'Activo:', :class => 'control-label'
                      .controls
                        #centro_educacional_visible_button.switch.switch-small{'data-on' => "success", 'data-off' => "danger", 'data-on-label' => "Si", 'data-off-label' => "No"}
                          = check_box_tag 'setting[centro_educacional_visible]', true, Setting.centro_educacional_visible
                        %span.help-block
                          ¿Desea mostrar la secci&oacute;n?

                #centro_de_debates.tab-pane
                  %fieldset
                    %legend Centro de debates
                    .control-group
                      = label_tag :centro_de_debates_title, 'Titulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[centro_de_debates_title]', Setting.centro_de_debates_title, :class => 'text_field input-append', placeholder: 'Centro de debates'
                        %span.help-block
                          Titulo de la secci&oacute;n, se usa para el menu.
          
                    .control-group
                      = label_tag :centro_de_debates_subtitle, 'Subtitulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[centro_de_debates_subtitle]', Setting.centro_de_debates_subtitle, :class => 'text_field input-append', placeholder: 'Lee y Opina sobre los Debates'
                        %span.help-block
                          Si no desea mostrar el subtitulo de la secci&oacute;n "centro de debates" dejar en blanco.
      
                    .control-group
                      = label_tag :centro_de_debates_visible, 'Activo:', :class => 'control-label'
                      .controls
                        #centro_de_debates_visible_button.switch.switch-small{'data-on' => "success", 'data-off' => "danger", 'data-on-label' => "Si", 'data-off-label' => "No"}
                          = check_box_tag 'setting[centro_de_debates_visible]', true, Setting.centro_de_debates_visible
                        %span.help-block
                          ¿Desea mostrar la secci&oacute;n centro de debates?

                #propuesta_ciudadana.tab-pane
                  %fieldset
                    %legend Propuesta ciudadana
                    .control-group
                      = label_tag :propuesta_ciudadana_title, 'Titulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[propuesta_ciudadana_title]', Setting.propuesta_ciudadana_title, :class => 'text_field input-append', placeholder: 'Propuesta ciudadana'
                        %span.help-block
                          Titulo de la secci&oacute;n, se usa para el menu.
          
                    .control-group
                      = label_tag :propuesta_ciudadana_subtitle, 'Subtitulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[propuesta_ciudadana_subtitle]', Setting.propuesta_ciudadana_subtitle, :class => 'text_field input-append', placeholder: 'Propuestas Ciudadanas, Aporta tus ideas'
                        %span.help-block
                          Si no desea mostrar el subtitulo de la secci&oacute;n "propuesta ciudadana" dejar en blanco.
      
                    .control-group
                      = label_tag :propuesta_ciudadana_visible, 'Activo:', :class => 'control-label'
                      .controls
                        #propuesta_ciudadana_visible_button.switch.switch-small{'data-on' => "success", 'data-off' => "danger", 'data-on-label' => "Si", 'data-off-label' => "No"}
                          = check_box_tag 'setting[propuesta_ciudadana_visible]', true, Setting.propuesta_ciudadana_visible
                        %span.help-block
                          ¿Desea mostrar la secci&oacute;n de propuestas ciudadanas?

                #objetivos.tab-pane
                  %fieldset
                    %legend Objetivos
                    .control-group
                      = label_tag :objetivos_title, 'Titulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[objetivos_title]', Setting.objetivos_title, :class => 'text_field input-append', placeholder: 'Objetivos'
                        %span.help-block
                          Titulo de la secci&oacute;n, se usa para el menu.
          
                    .control-group
                      = label_tag :objetivos_subtitle, 'Subtitulo:', :class => 'control-label'
                      .controls
                        = text_field_tag 'setting[objetivos_subtitle]', Setting.objetivos_subtitle, :class => 'text_field input-append', placeholder: 'Objetivos del partido'
                        %span.help-block
                          Si no desea mostrar el subtitulo de la secci&oacute;n "objetivos" dejar en blanco.
      
                    .control-group
                      = label_tag :objetivos_visible_visible, 'Activo:', :class => 'control-label'
                      .controls
                        #objetivos_visible_button.switch.switch-small{'data-on' => "success", 'data-off' => "danger", 'data-on-label' => "Si", 'data-off-label' => "No"}
                          = check_box_tag 'setting[objetivos_visible]', true, Setting.objetivos_visible
                        %span.help-block
                          ¿Desea mostrar la secci&oacute;n de objetivos?



        .form-actions
          = submit_tag 'Actualizar', :class => 'btn btn-primary'
          = link_to 'Cancelar', admin_configuration_path, :class => 'btn'

#main-image-upload.modal.hide.fade
  .modal-header
    %button{:type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"}
      &times;
    %h3 Subir Imagen Principal

  .modal-body
    #images-container
  .modal-footer
    %button.btn#main-image-close-button Cerrar
    %button.btn.btn-primary#main-image-upload-button Subir Imagen
      
%script
  var jcrop_api;
  $('div[id*="config-color"]').colorpicker();
  
  $('#button-main-image').click(function(event){
  event.preventDefault();
  fileInput =  $('<input/>').attr('type','file').attr('name','background_image[file]').addClass('hide').attr('id','main-image-input');
  $('form').append(fileInput);
  
  fileInput.change(function() {
  input = this;
  if (input.files && input.files[0]) {
  var reader = new FileReader();
  reader.onload = function (e) {
  imageTag = $('<img/>').attr('src', e.target.result);
  $('#images-container').html(imageTag);
  jcrop_api = imageTag.Jcrop({
  setSelect: [ 0, 0, 675, 140 ],
  addClass: 'jcrop-dark',
  allowSelect: false,
  allowResize: false,
  onChange: function(c) {
  $('#background_image_image_x').val(c.x);
  $('#background_image_image_y').val(c.y);
  }
  });
  };
  reader.readAsDataURL(input.files[0]);
  }
  $('#main-image-upload').modal();
  });
  
  fileInput.click();
  });
  
  $('#main-image-close-button').click(function(){
  $('#main-image-input').remove();
  $('#main-image-controls span.help-block').remove();
  $('#main-image-upload').modal('hide');
  });
  
  
    
  $('#main-image-upload-button').click(function() {
  help_block = $('<span/>').addClass('help-block').html('Haga click en Actualizar para subir la imagen');
  $('#main-image-controls').append(help_block);
  $('#main-image-upload').modal('hide');
  });