.row-fluid
  .box
    .box-content
      .page-header
        %h1 Configuraciones
      = link_to 'Editar configuraciones', edit_admin_configuration_path, class: ['btn', 'btn-primary']
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Configuracion
            %th Valor
        %tbody
          %tr
            %td Nombre del sitio:
            %td= Setting.site_name
          %tr
            %td Color 1
            %td.center
              .config-color-sample{style: "background-color: #{Setting.color1};"}
                = Setting.color1
          %tr
            %td Color 2
            %td.center
              .config-color-sample{style: "background-color: #{Setting.color2};"}
                = Setting.color2
          %tr
            %td Color 3
            %td.center
              .config-color-sample{style: "background-color: #{Setting.color3};"}
                = Setting.color3
          %tr
            %td Color 4
            %td.center
              .config-color-sample{style: "background-color: #{Setting.color4};"}
                = Setting.color4
          %tr
            %td Color 5
            %td.center
              .config-color-sample{style: "background-color: #{Setting.color5};"}
                = Setting.color5
          %tr
            %td Limite en los comentarios
            %td.center
              = Setting.comments_limit.to_i > 0 ? Setting.comments_limit : 'Ilimitado'
          %tr
            %td Registro publico
            %td.center
              = Setting.public_registration ? 'Si' : 'No'
          %tr
            %td Imagen Principal
            %td.center
              = image_tag Setting.background_image if Setting.background_image.present?
              
          %tr
            %td Contenido del home
            %td.center
              =  Setting.home_main_content.html_safe if Setting.home_main_content.present?
