= selected_menu(:menu_propuesta)
= section_title('Propuestas Ciudadanas')
= link_to 'Agrega una Propuesta', :new_propuesta, class: 'btn btn-primary right' if current_user
%section#content.span-9
  %h3
    Propuestas Ciudadanas, Aporta tus ideas
  .blog
    = render partial: 'proposal', collection: @proposals
%aside#sidebar.span-3
  = render partial: 'news/right_aside'