= selected_menu(:menu_propuesta)
= section_title('Propuestas Ciudadanas')
%section#content
  #doc-container.row
    %article.span8
      %header
        %h2.entry-title
          = @proposal.title
        .entry-date
          %span= @proposal.published_date
        .entry-content
          = @proposal.content.html_safe
        %ul.entry-meta
          %li.tags
            Temas:
            - @proposal.topics.each do |theme|
              = link_to topic.name, propuestas_path(topic_id: topic.id)
          %li.comments
            %a{:href => "#comments"} #{@proposal.annotations_count} Comentarios

    #sidebar-doc.span3  
      %h3 Vote Por esta propuesta
      = link_to propuesta_votes_path(@proposal, tendency: 1), method: :post, class: 'btn btn-success' do
        %i.icon-thumbs-up
        = @proposal.positive_votes
      |
      = link_to propuesta_votes_path(@proposal, tendency: -1), method: :post, class: 'btn btn-danger' do
        %i.icon-thumbs-down
        = @proposal.negative_votes

  #comments.row
    %ol.comments-list
      = nested_annotations @proposal.annotations.includes(:author).arrange(order: :created_at) 

  #comment-form
    .row
      %span.leave-a-comment
      %h3.form-title Deja un Comentario
      %span.meta.form-tagline ¿Que opinas? Usa el formulario para hacernoslo saber.
      - if current_user  
        = render partial: 'annotations/form', locals: {annotable: @proposal, annotable_url: propuesta_comentarios_path(@proposal)}
      - else
        Necesitas iniciar sesion para comentar
