= selected_menu(:menu_propuesta)
= section_title('Propuestas Ciudadanas')
%section#content
  #doc-container.row
    %article.col-lg-9.col-md-9
      %header
        %h2.entry-title
          = @proposal.title
        .entry-date
          %span= @proposal.published_date
        .entry-content
          = @proposal.content.html_safe
        %ul.entry-meta
          %li.tags
            Temas:
            - @proposal.topics.each do |theme|
              = link_to topic.name, propuestas_path(topic_id: topic.id)
          %li.comments
            %a{:href => "#comments"} #{@proposal.annotations_count} Comentarios

    #sidebar-doc.col-lg-3.col-md-3  
      %h3 Vote Por esta propuesta
      = link_to propuesta_votes_path(@proposal, tendency: 1), method: :post, class: 'btn btn-success' do
        %i.icon-thumbs-up
        = @proposal.positive_votes
      |
      = link_to propuesta_votes_path(@proposal, tendency: -1), method: :post, class: 'btn btn-danger' do
        %i.icon-thumbs-down
        = @proposal.negative_votes

  - if @proposal.facebook_comment_enable?
    #comments.row
      <div class="fb-comments" data-href="#{propuesta_url(@proposal)}" data-colorscheme="light" data-numposts="5" data-width="922"></div>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=287374454607456";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

  #comments.row
    %ol.comments-list
      = nested_annotations @proposal.annotations.includes(:author).arrange(order: :created_at) 

  #comment-form
    .row
      %span.leave-a-comment
      %h3.form-title Deja un Comentario
      %span.meta.form-tagline ¿Que opinas? Usa el formulario para hacernoslo saber.
      - if current_user  
        = render partial: 'annotations/form', locals: {annotable: @proposal, annotable_url: propuesta_comentarios_path(@proposal)}
      - else
        Necesitas iniciar sesion para comentar
