= form_for [@annotable, @annotation], :html => { :class => 'form-horizontal' } do |f|
	.control-group
		= f.error_messages
	.control-group
		= f.label :comment,'Comentario:',  :class => 'control-label'
		.controls
			= f.text_area :comment
	.form-actions
		= f.submit @annotation.new_record? ? 'Crear' : 'Actualizar', :class => 'btn btn-primary'
	
		