= form_for [:admin, @entry], :html => { :class => 'form' } do |f|
	.control-group
		= f.error_messages
	.control-group
		= f.label :title, 'Titulo:',:class => 'control-label'
		= f.text_field :title, :class => 'text_field'
	.control-group
		= f.label :content,'Contenido:',  :class => 'control-label'
		.controls
		= f.cktext_area :content, :toolbar => :Full, :width => 800, :height => 400
	.control-group
		= f.label :topics_tokens, "Temas:"
		= f.text_field :topic_tokens, data: {load: @entry.topics}
	.form-actions
		= f.submit @entry.new_record? ? 'Crear' : 'Actualizar', :class => 'btn btn-primary'
		= link_to 'Cancelar', admin_entries_path, :class => 'btn'