.row-fluid
	.box
		.box-content
			.page-header
				%h1 Centro Educacional
				- if can? :create, Entry
					= link_to new_admin_entry_path, :class => 'btn-add-resource btn btn-primary' do
						%i.icon-white.icon-plus
						Nuevo Centro Educacional
			%table.table.table-striped.table-bordered
				%thead
					%tr
						%th ID
						%th Titulo
						%th Status
						%th Acciones
				%tbody
					- @entries.each do |e|
						%tr
							%td.center= e.id
							%td= link_to e.title, entradas_url(e), target: :_blank
							%td= e.status
							%td
								= link_to entradas_url(e), target: :_blanck, :class => 'btn btn-mini' do
									%i.icon-eye-open
									Ver
								- if can? :update, Entry
									= link_to edit_admin_entry_path(e), :class => 'btn btn-mini btn-primary' do
										%i.icon-edit.icon-white
										Editar
								- if can? :destroy, Entry
									= link_to admin_entry_path(e), :method => :delete, :confirm => 'Esta seguro?', :class => 'btn btn-danger btn-mini' do
										%li.icon-white.icon-remove
										Eliminar
								- if can? :update, Entry
									= link_to_by_entry_state(e)