%div{id: strategic_objective.id,  class: 'strategic_objective'}
	%p.actions.right
		- unless strategic_objective.specific?
			= link_to add_for_link(strategic_objective), new_admin_strategic_objective_path(parent_id: strategic_objective), remote: true, class: 'add_new_objective btn btn-mini btn-primary'
			= link_to 'Eliminar Seccion', admin_strategic_objective_path(strategic_objective), method: :delete, data: {confirm: 'Esta Seguro?'}, class: 'btn btn-danger btn-mini'
	%dl.dl-horizontal
		%div.objective_title= best_in_place_if (can? :update, strategic_objective), [:admin, strategic_objective], :title, type: :input, nil: 'Click Para Editar', url: admin_strategic_objective_path(strategic_objective)
		- if strategic_objective.specific?
			%dt Description:
			%dd= best_in_place_if (can? :update, strategic_objective), [:admin, strategic_objective], :description, type: :textarea, nil: 'Click Para Editar', url: admin_strategic_objective_path(strategic_objective), html_attrs: {rows: '3', class: :span8}
			%dt Fecha Del Objetivo:
			%dd= best_in_place_if (can? :update, strategic_objective), [:admin, strategic_objective], :date_objective, type: :date, nil: 'Click Para Editar', url: admin_strategic_objective_path(strategic_objective)
			%dt Objetivo Cumplido?
			%dd=best_in_place_if (can? :update, strategic_objective), [:admin, strategic_objective], :accomplished, type: :checkbox, collection: ["No", "Si"], url: admin_strategic_objective_path(strategic_objective)
			%dt Noticas:
			%dd
				- if can? :update, strategic_objective.id
					%div{id: strategic_objective.id, class: 'objective_news'}
						= news_for_objectives(strategic_objective)
					= form_for [:admin, strategic_objective], method: :put, remote: true, html: {class: :hide} do |f|
						= f.text_field :paper_tokens, data: {load: strategic_objective.papers}
				-else
					= news_for_objectives(strategic_objective, 'Sin Noticias')
			%dt Acciones:
			%dd
				= link_to 'Eliminar Objetivo', admin_strategic_objective_path(strategic_objective), method: :delete, data: {confirm: 'Esta Seguro?'}, class: 'btn btn-danger btn-mini'
				= link_to 'Agregar un Comentario', new_admin_strategic_objective_annotation_path(strategic_objective), remote: true, class: 'btn btn-mini btn-primary'

	#comments.row
		%ol.comments-list
			= render strategic_objective.annotations, {strategic_objective: strategic_objective}
			= #admin_nested_annotations(strategic_objective.annotations.arrange(order: :created_at), strategic_objective)
		