%h2=link_to "Bienvenido a #{@site_name}", root_url

%p
  Se le a invitado a la Red Social para Partidos Politicos. A continuación se le proporciona la información de acceso:

%p
  %b
    Usuario:
  = @user.email

%p
  %b
    Passw0rd:
  = @password

%p
  = link_to "Visita La Red Social para Partidos Politicos #{@site_name}", root_url
%p
  No responder este mensaje