!!! 5
%html
  %head
    %title= SiteConfig.site_name
    %link{href: 'http://fonts.googleapis.com/css?family=Quicksand:400,700|Playball', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    %style{type: "text/css"}
      - if SiteConfig.header_image.present?
        header#header {
        background-image: url("#{SiteConfig.header_image}");
        }

      - if SiteConfig.footer_image.present?
        footer#footer {
        background-image: url("#{SiteConfig.footer_image}");
        }
      
      - if SiteConfig.color1.present?
        header#header #site-name {
        color: #{SiteConfig.color1};
        }

  %body
    %header#header.container-wrap
      #header-container.container
        #logo
          #site-title{:href => root_url}
            - if SiteConfig.background_image.present?
              = image_tag SiteConfig.background_image
            - else
              %img{:alt => "Democracia PE", :src => "/assets/logo.png"}
            #site-name= SiteConfig.site_name
        #user-profile
          - if current_user
            #profile-avatar-container
              = image_tag current_user.profile_photo, id: 'profile-avatar'
            %h4
              - if current_user.name.present?
                = current_user.name
              - else
                = link_to 'Ingresa tu nombre', edit_user_registration_path
            %ul#profile-menu
              %li
                = link_to 'Mi Perfil', edit_user_registration_path
              - if current_user.admin_access?
                %li
                  = link_to 'Admin', admin_root_path
              %li
                = link_to 'Salir', destroy_user_session_path, method: :delete
          - else
            = link_to 'Ingresar', '', id: 'login-button'

    %nav#main-nav-menu.container
      %ul
        %li{class: "nav-menu-item #{yield(:menu_news)}"}
          = link_to 'Centro de Noticias', noticias_path
        %li{class: "nav-menu-item #{yield(:menu_entry)}"}
          = link_to 'Centro Educacional', entradas_path
        %li{class: "nav-menu-item #{yield(:menu_discussions)}"}
          = link_to 'Centro de Debates', :debates
        %li{class: "nav-menu-item #{yield(:menu_propuesta)}"}
          = link_to 'Propuesta Ciudadana', :propuestas
        %li{class: "nav-menu-item #{yield(:menu_objetivos)}"}
          = link_to 'Buenas Practicas', buenas_practicas_path
        %li{class: "nav-menu-item"}
          = link_to 'Objetivos', objetivos_path
            

    .container
      = yield

    %footer#page-footer.container-wrap
      #page-footer-container.container

    %footer#footer
          

#login-modal.modal.fade
  .modal-header
    %button{class: "close", 'data-dismiss' => "modal"}
      ×
    %h3
      Registrarse/Ingresar

    .modal-body
      .row-fluid
        .span12
          %p
            Escoge una de las siguientes opciones para ingresar:
      .row-fluid
        .span8
          = form_for User.new, url: user_session_path, html: {class: 'form-horizontal'} do |form|
            .control-group
              .control-label
                = form.label :email
              .controls
                = form.text_field :email
            
            .control-group
              .control-label
                = form.label :password
              .controls
                = form.password_field :password

            .control-group
              .control-label
                = form.label 'recordarme', for: 'user_remember_me'
              .controls
                = form.check_box :remember_me

            .control-group
              .controls
                = form.submit :ingresar, class: [:btn, 'btn-primary']


        / .span4
        /   Redes Sociales:
        /   %p
        /     = link_to image_tag('/assets/twitter_64.png'), '/auth/twitter'
        /     = link_to image_tag('/assets/facebook_64.png'), '/auth/facebook'
