!!! 5
%html
  %head
    %title= Setting.site_name
    %link{href: 'http://fonts.googleapis.com/css?family=Quicksand:400,700|Playball', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    %style{type: "text/css"}
      - if Setting.header_image.present?
        header#header {
        background-image: url("#{Setting.header_image}");
        }

      - if Setting.footer_image.present?
        footer#footer {
        background-image: url("#{Setting.footer_image}");
        }
      
      - if Setting.color1.present?
        header#header #site-name {
        color: #{Setting.color1};
        }

      body {
      - if Setting.text_color.present?
        color: #{Setting.text_color};  
      - else
        color: #333333;

      - if Setting.text_font_family.present?
        font-family: #{raw Setting.text_font_family};  
      - else
        font-family: Trebuchet MS;
      
      - if Setting.text_font_size.present?
        font-size: #{Setting.text_font_size.to_i}px;  
      - else
        font-size: 13px;
      }
      
      a {
      - if Setting.link_color.present?
        color: #{Setting.link_color};  
      - else
        color: #0088cc;
      }
      
      a:hover {
      - if Setting.link_color_hover.present?
        color: #{Setting.link_color_hover};  
      - else
        color: #005580;
      }

  %body
    %header#header.container-wrap
      #header-container.container
        #logo
          #site-title{:href => root_url}
            - if Setting.background_image.present?
              = image_tag Setting.background_image
            - else
              %img{:alt => "Democracia PE", :src => "/assets/logo.png"}
            #site-name= Setting.site_name
        #user-profile
          - if current_user
            #profile-avatar-container
              = image_tag current_user.profile_photo, id: 'profile-avatar'
            %h4
              - if current_user.name.present?
                = current_user.name
              - else
                = link_to 'Ingresa tu nombre', edit_user_registration_path
            %ul#profile-menu
              %li
                = link_to 'Mi Perfil', edit_user_registration_path
              - if current_user.admin_access?
                %li
                  = link_to 'Admin', admin_root_path
              %li
                = link_to 'Salir', destroy_user_session_path, method: :delete
          - else
            = link_to 'Ingresar', '', id: 'login-button'

    %nav#main-nav-menu.container
      %ul
        %li
          = link_to image_tag('/assets/home.png'), root_path

        - if Setting.centro_de_noticas_visible && Setting.centro_de_noticas_title.present?
          %li{class: "nav-menu-item #{yield(:menu_news)}"}
            = link_to Setting.centro_de_noticas_title.humanize, noticias_path

        - if Setting.centro_educacional_visible && Setting.centro_educacional_title.present?
          %li{class: "nav-menu-item #{yield(:menu_entry)}"}
            = link_to Setting.centro_educacional_title.humanize, entradas_path

        - if Setting.centro_de_debates_visible && Setting.centro_de_debates_title.present?
          %li{class: "nav-menu-item #{yield(:menu_discussions)}"}
            = link_to Setting.centro_de_debates_title.humanize, :debates

        - if Setting.propuesta_ciudadana_visible && Setting.propuesta_ciudadana_title.present?
          %li{class: "nav-menu-item #{yield(:menu_propuesta)}"}
            = link_to Setting.propuesta_ciudadana_title.humanize, :propuestas

        %li{class: "nav-menu-item #{yield(:menu_objetivos)}"}
          = link_to 'Buenas Practicas', buenas_practicas_path

        - if Setting.objetivos_visible && Setting.objetivos_title.present?
          %li{class: "nav-menu-item #{yield(:menu_objetivos)}"}
            = link_to Setting.objetivos_title.humanize, objetivos_path
        
        - if Setting.candidatos_visible && Setting.candidatos_title.present?
          %li{class: "nav-menu-item  #{yield(:menu_candidatos)}"}
            = link_to Setting.candidatos_title.humanize, candidatos_path

            

    .container
      = yield

    %footer#page-footer.container-wrap
      #page-footer-container.container

    %footer#footer
          

#login-modal.modal.fade.hide
  .modal-header
    %button{class: "close", 'data-dismiss' => "modal"}
      ×
    %h3
      Registrarse/Ingresar

    .modal-body
      .row-fluid
        .span12
          %p
            Escoge una de las siguientes opciones para ingresar:
      .row-fluid
        .span8
          = form_for User.new, url: user_session_path, html: {class: 'form-horizontal'} do |form|
            .control-group
              .control-label
                = form.label :email
              .controls
                = form.text_field :email
            
            .control-group
              .control-label
                = form.label :password
              .controls
                = form.password_field :password

            .control-group
              .control-label
                = form.label 'recordarme', for: 'user_remember_me'
              .controls
                = form.check_box :remember_me

            .control-group
              .controls
                = form.submit :ingresar, class: [:btn, 'btn-primary']


        / .span4
        /   Redes Sociales:
        /   %p
        /     = link_to image_tag('/assets/twitter_64.png'), '/auth/twitter'
        /     = link_to image_tag('/assets/facebook_64.png'), '/auth/facebook'
