!!! 5
%html
  %head
    %title Constancia
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .main-wrap

      %header#header.container-wrap
        #header-container.container
          #logo
            %a#site-title{:href => root_url}
              %img{:alt => "Simplex", :src => "images/logo.png"}/

      %nav#main-nav-menu.container
        %ul
          %li{class: "nav-menu-item #{yield(:menu_home)}"}
            = link_to 'Inicio', usuario_path(current_user) if current_user
          %li{class: "nav-menu-item #{yield(:menu_news)}"}
            = link_to 'Centro de Noticias', noticias_path
          %li{class: "nav-menu-item #{yield(:menu_entry)}"}
            = link_to 'Centro Educacional', entradas_path
          %li{class: "nav-menu-item #{yield(:menu_discussions)}"}
            = link_to 'Centro de Debates', :debates
          %li{class: "nav-menu-item #{yield(:menu_propuesta)}"}
            = link_to 'Propuesta Ciudadana', :propuestas
          / %li.nav-menu-item
          /   - if current_user
          /     %a{href: '#'}
          /       Usuario
          /     %ul.sub-menu
          /       %li.nav-menu-item
          /         = link_to 'Salir', destroy_user_session_path, method: :delete
          /       %li.nav-menu-item
          /         = link_to 'Admin', admin_root_path
          /   - else
          /     = link_to 'Ingresar', '', id: 'login-button'

      /%select#responsive-main-nav-menu{:onchange => "javascript:window.location.replace(this.value);"}


      %section#page.container-wrap
        #page-container.container
          #page-content
            .row
              = yield

      %footer#page-footer.container-wrap
        #page-footer-container.container

      %footer#footer
          

#login-modal.modal.fade
  .modal-header
    %button{class: "close", 'data-dismiss' => "modal"}
      ×
    %h3
      Registrarse/Ingresar

    .modal-body
      .row-fluid
        .span12
          %p
            Escoge una de las siguientes opciones para ingresar:
      .row-fluid
        .span8
          = form_for User.new, url: user_session_path, html: {class: 'form-horizontal'}do |form|
            .control-group
              .control-label
                = form.label :email
              .controls
                = form.text_field :email
            
            .control-group
              .control-label
                = form.label :password
              .controls
                = form.text_field :password

            .control-group
              .control-label
                = form.label 'recordarme', for: 'user_remember_me'
              .controls
                = form.check_box :remember_me

            .control-group
              .controls
                = form.submit :ingresar, class: [:btn, 'btn-primary']


        / .span4
        /   Redes Sociales:
        /   %p
        /     = link_to image_tag('/assets/twitter_64.png'), '/auth/twitter'
        /     = link_to image_tag('/assets/facebook_64.png'), '/auth/facebook'
